.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 1.42em;
  letter-spacing: 0.1em;
  background: #FAFAFA;
  color: #636363;
  text-transform: uppercase;
}
.sidr .sidr-inner {
  padding: 0 20px
}
.sidr .sidr-inner>p {
  margin-left: 15px;
  margin-right: 15px
}
.sidr.right {
  left: auto;
  right: -260px
}
.sidr.left {
  left: -260px;
  right: auto
}

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 10px 0;
}
.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-bottom: 1px solid #F5F5F5;
}

.sidr ul li a {
  display: block;
  text-decoration: none;
  color: #636363;
  font-weight: bold;
  -webkit-transition: color 0.2s, padding-left 0.3s;
}
.sidr ul li a:hover {
  color: #363636;
  padding-left: 5px;
}

.sidr ul li ul {
  border-bottom: none;
  margin: 0
}
.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px
}
.sidr ul li ul li:last-child {
  border-bottom: none
}
.sidr ul li ul li:hover,
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px
}

.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(51, 51, 51, 0.8);
  padding-left: 30px
}
